@font-face {
    font-family: 'scrolltopbar';
    src: url('../fonts/scrolltopbar.eot?31322817');
    src: url('../fonts/scrolltopbar.eot?31322817#iefix') format('embedded-opentype'), url('../fonts/scrolltopbar.woff2?31322817') format('woff2'), url('../fonts/scrolltopbar.woff?31322817') format('woff'), url('../fonts/scrolltopbar.ttf?31322817') format('truetype'), url('../fonts/scrolltopbar.svg?31322817#scrolltopbar') format('svg');
    font-weight: normal;
    font-style: normal;
}

.scrolltopbar [class^="icon-"]:before,
.scrolltopbar [class*=" icon-"]:before {
    font-family: "scrolltopbar";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.scrolltopbar {
    display: none;
    position: fixed;
    bottom: 0;
    text-align: center;
    text-decoration: none;
    z-index: 99999;
    cursor: pointer;
}

.scrolltopbar b {
    display: block;
    position: absolute;
    width: 100%;
}

.scrolltopbar u {
    text-decoration: none;
    vertical-align: middle;
}